
* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
